NTCSS
App Administrator
1
0

NTCSS
Security Admin
2
0

NTCSS
Operator
3
0

SCHOOL
App Administrator
1
0

SCHOOL
All Users
2
0

SCHOOL
Test User
3
0

IF_SCHOOL
App Administrator
1
0

IF_SCHOOL
All Users
2
0

DB_SCHOOL
App Administrator
1
0

DB_SCHOOL
op user
2
0

DB_SCHOOL
Sybase Central User
3
0

CS_SCHOOL
App Administrator
1
0

CS_SCHOOL
All Users
2
0

