NTCSS
hostname
$NTCSSDIR\resource\folder.ico
0
806-01.01.06
990820.0000
c:\ntcss2
ntcss_server_dir
ntcss
10
i(ZFGL>gp

SCHOOL
hostname
c:\run\atlass.ico
0
821-01.00
990820.0000
c:\run\atlass.exe

atlass
10
rawJ~VvGW

IF_SCHOOL
hostname
\ntcss2\resource\icon_d.dll
10
1.0
980401.0000


ntcss_app
10
/Xo"+ONw;

DB_SCHOOL
hostname
\ntcss2\resource\icon_d.dll
6
1.0
970515.0000


sybase
10
Rwj;TYV</

CS_SCHOOL
hostname
\ntcss2\resource\icon_d.dll
10
1.0
990917.0000


atlass_ms
10


